@charset "UTF-8";

/*cofig: retrato*/

body{
    background-image: url('imagem/muro-verde.jpg');
    background-color:  #16570fb0;
font-family: italic  5em 'Knewave'cursive;
color:#10360C ;
text-align: center;
}
nav > a{
    text-decoration: none;
    color: rgba(144, 191, 155, 0.842);
    padding: 20px;
    font-size: 0.7em;
    
}
nav > a:hover{
    color: rgba(0, 255, 60, 0.842);
    background-color: #045d182c;
    
    
    
}
p{
    font-size: 0.5em;
}
main{
    min-width: 150px;
    max-width: 300px;
    margin:auto;
}
main > img{
    border:solid 5px green;

    
   
   
 
    
    
    
    
}
iframe{
    border:solid 2px green;
width: 80%;
height: 100vh;
min-width: 140px;
max-width: 700px;
}
